@charset "UTF-8";
[v-cloak] {
  opacity: 0;
  visibility: hidden;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans TC", "Microsoft JhengHei", Arial, Helvetica, sans-serif, monospace;
  background: #d5ebf8;
  overflow-x: hidden;
}

.fade-enter-active,
.fade-leave-active {
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}

.base-wrapper {
  position: relative;
  width: 1024px;
  max-width: 100%;
  margin: auto;
  padding: 0 16px;
  text-align: justify;
}
.base-wrapper .link {
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .base-wrapper .link {
    position: absolute;
    top: 540px;
    z-index: 1;
  }
}
.base-wrapper .link a {
  position: relative;
  margin: 0 1em;
  background: #0170c2;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  padding: 0.55em 0.75em;
  display: inline-block;
}
.base-wrapper .link a:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  border: 1px solid #fff;
  border-radius: 5px;
}
.base-wrapper .link a:hover {
  opacity: 0.7;
}
@media screen and (max-width: 767px) {
  .base-wrapper .link a {
    margin: 0 0.25em;
    font-size: 1.2em;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.font-bold {
  font-weight: 700;
}

.text-sm {
  font-size: 12px;
}

@media screen and (max-width: 767px) {
  .hidden-sm {
    display: none;
  }
}

.hidden-md {
  display: none;
}
@media screen and (max-width: 767px) {
  .hidden-md {
    display: unset;
  }
}

.base-h3-title {
  position: relative;
  text-align: center;
  margin: auto;
  max-width: 100%;
  font-style: italic;
}
.base-h3-title .pic-title {
  position: absolute;
  z-index: -1;
}
.base-h3-title .text {
  font-size: 54px;
  font-weight: 700;
  color: #fff;
}
.base-h3-title .text .strong {
  margin-left: 8px;
  font-size: 80px;
}
@media screen and (max-width: 767px) {
  .base-h3-title .text {
    font-size: 24px;
  }
  .base-h3-title .text .strong {
    font-size: 48px;
  }
}

.base-content {
  padding: 16px;
  background-color: #fff;
  border: 16px solid;
  border-radius: 4px;
  position: relative;
  -webkit-box-shadow: 8px 8px 32px #9dcfe6;
          box-shadow: 8px 8px 32px #9dcfe6;
}
.base-content .pic-bg-top {
  position: absolute;
  top: 0;
  right: -159px;
}
.base-content .pic-bg-bottom {
  position: absolute;
  left: -154px;
  bottom: 0;
}
.base-content .title {
  --line-width: 456px;
  position: relative;
  font-size: 36px;
  font-weight: 700;
  padding-left: 16px;
  color: #ca4200;
  position: relative;
  line-height: 1.2;
}
.base-content .title::before {
  content: "";
  position: absolute;
  bottom: -16px;
  left: -16px;
  background: #f16212;
  width: var(--line-width);
  height: 2px;
}
.base-content .title::after {
  content: "";
  position: absolute;
  bottom: -16px;
  left: calc(var(--line-width) - 16px);
  background: #f16212;
  width: 56px;
  height: 2px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: left;
          transform-origin: left;
}
.base-content .title .pic-star {
  position: absolute;
  left: -40px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.base-content .title .strong {
  color: #034891;
}
@media screen and (max-width: 767px) {
  .base-content .title {
    font-size: 30px;
  }
}
.base-content .title-2 {
  margin-top: 40px;
}
.base-content .desc {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-top: 40px;
  line-height: 1.5;
}
.base-content .desc .strong {
  color: #034891;
}
.base-content .desc .gray {
  color: #313131;
}
.base-content .desc .comma::after {
  content: "ï¼Œ";
}
@media screen and (max-width: 640px) {
  .base-content .desc .comma::after {
    content: "";
  }
  .base-content .desc span {
    display: block;
  }
}
.base-content .pic-chart {
  margin: auto;
}
.base-content .remark {
  font-size: 14px;
  margin: 16px 0;
  line-height: 1.2;
}
.base-content .remark .strong {
  color: #2b4d83;
}
.base-content .remark .strong-2 {
  color: #34b0d2;
}
@media screen and (max-width: 767px) {
  .base-content {
    border: 8px solid;
    padding: 8px;
  }
  .base-content .title {
    text-align: center;
    padding-left: 0;
  }
  .base-content .title::before {
    display: none;
  }
  .base-content .title::after {
    display: none;
  }
  .base-content .title .pic-star {
    display: none;
  }
  .base-content .desc {
    font-size: 16px;
    margin: 16px 0;
  }
}

.header {
  background: #fff;
}
.header .base-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 56px;
}
.header .logo {
  width: 160px;
}
@media screen and (max-width: 767px) {
  .header .base-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.main .pic-main-bg-1,
.main .pic-main-bg-2,
.main .pic-main-bg-3,
.main .pic-main-bg-4 {
  position: absolute;
}
.main .pic-main-bg-1 {
  top: 240px;
  left: 0;
}
.main .pic-main-bg-2 {
  bottom: -240px;
  right: 0;
}
.main .pic-main-bg-3 {
  bottom: -240px;
  left: 0;
}
.main .pic-main-bg-4 {
  top: 560px;
  right: 0;
}
@media screen and (max-width: 1279px) {
  .main .pic-main-bg-1,
  .main .pic-main-bg-2,
  .main .pic-main-bg-3,
  .main .pic-main-bg-4 {
    display: none;
  }
}

.section-banner {
  position: relative;
  background-image: url("../images/01_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
.section-banner .pic-people {
  position: absolute;
  top: 0;
  right: 40%;
}
.section-banner .pic-date {
  position: absolute;
  top: 0px;
  left: calc(50% + 450px - 40px);
}
.section-banner .text-main {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 700;
  padding: 40px 0 0;
  margin: 0 0 80px 0;
  position: relative;
  left: 50%;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  font-style: italic;
}
.section-banner .text-main .title-main {
  font-size: clamp(28px, 28px + 12 * (100dvw - 375px) / 1545, 36px);
  color: #0d3876;
  text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff;
}
.section-banner .text-main .title-desc {
  font-size: clamp(28px, 28px + 12 * (100dvw - 375px) / 1545, 36px);
  font-style: italic;
  color: #fff;
  margin: 8px 0 0 48px;
  text-shadow: 0 0 10px #0cb7e2, 0 0 10px #0cb7e2, 0 0 10px #0cb7e2, 0 0 10px #0cb7e2, 0 0 10px #0cb7e2;
}
.section-banner .text-main .title-fundcode {
  font-size: clamp(150px, 150px + 40 * (100dvw - 375px) / 1545, 120px);
  font-style: italic;
  letter-spacing: -4px;
  font-weight: 900;
  line-height: 1;
  margin: 0 0 16px;
  color: #ed680b;
  text-shadow: 0 0 24px #fff, 0 0 24px #fff, 0 0 24px #fff, 0 0 24px #fff;
}
@media screen and (max-width: 767px) {
  .section-banner .text-main .title-fundcode {
    font-size: clamp(90px, 90px + 40 * (100dvw - 375px) / 1545, 120px);
  }
}
.section-banner .text-main .title-fundname {
  font-size: clamp(14px, 14px + 10 * (100dvw - 375px) / 1545, 24px);
  font-style: italic;
  color: #fff;
  text-shadow: 0 0 4px #49378f, 0 0 4px #49378f, 0 0 4px #49378f, 0 0 4px #49378f;
}
@media screen and (max-width: 767px) {
  .section-banner .text-main .title-fundname {
    font-size: 0.8em;
    margin-top: 1em;
  }
}
.section-banner .text-main .title-fundname span {
  color: #ffc6c6;
}
.section-banner .icon-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
  margin: 0 4px 16px;
}
.section-banner .icon-bar .icon-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  width: 160px;
  text-decoration: none;
}
.section-banner .icon-bar .icon-item .pic-icon {
  border-radius: 50%;
  -webkit-box-shadow: 4px 4px 8px #49378f;
          box-shadow: 4px 4px 8px #49378f;
  width: 140px;
}
.section-banner .icon-bar .icon-item .icon-text {
  font-size: clamp(12px, 9px + 17 * (100dvw - 375px) / 1545, 30px);
  margin-top: 0.5em;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 8px #49378f, 0 0 8px #49378f, 0 0 8px #49378f, 0 0 8px #49378f;
}
.section-banner .icon-bar .icon-item .icon-text .small {
  font-size: 0.7em;
}
@media screen and (max-width: 767px) {
  .section-banner .icon-bar .icon-item .icon-text {
    font-size: 11px;
  }
}
.section-banner .icon-bar .icon-item a {
  text-decoration: none;
}
a + .section-banner .icon-bar .icon-item:a:hover {
  text-decoration: none;
}
.section-banner .text-desc {
  font-size: clamp(20px, 20px + 16 * (100dvw - 375px) / 1545, 36px);
  text-align: center;
  padding: 0 0 80px;
}
.section-banner .text-desc .desc-1 {
  color: #fff;
  text-shadow: 0 0 8px #49378f, 0 0 8px #49378f, 0 0 8px #49378f, 0 0 8px #49378f;
  font-weight: 600;
}
.section-banner .text-desc .desc-2 {
  color: #f8bc01;
  margin: 8px 0 0;
  text-shadow: 0 0 8px #49378f, 0 0 8px #49378f, 0 0 8px #49378f, 0 0 8px #49378f;
  font-weight: 600;
}
@media screen and (max-width: 767px) {
  .section-banner .text-desc .desc-2 span {
    display: block;
    line-height: 1.5;
  }
}
@media screen and (max-width: 1279px) {
  .section-banner .pic-date {
    left: calc(50% + 420px - 80px);
  }
  .section-banner .text-main {
    left: 45%;
  }
  .section-banner .text-desc {
    padding: 0 0 120px;
  }
}
@media screen and (max-width: 1023px) {
  .section-banner .pic-date {
    left: calc(50% + 420px - 96px);
  }
  .section-banner .text-main {
    left: 40%;
  }
}
@media screen and (max-width: 767px) {
  .section-banner .pic-date {
    top: 0px;
    left: unset;
    right: 4px;
    width: 64px;
  }
  .section-banner .pic-people {
    left: unset;
    top: 0px;
    right: 160px;
    width: 400px;
  }
  .section-banner .text-main {
    left: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-right: 24px;
    margin: 0 0 40px auto;
  }
  .section-banner .text-main .title-main {
    margin-right: 56px;
  }
  .section-banner .text-main .title-fundcode {
    margin: 0;
  }
  .section-banner .icon-bar {
    gap: 4px;
  }
  .section-banner .icon-bar .icon-item {
    text-decoration: none;
  }
  .section-banner .icon-bar .icon-item .icon-text .small {
    font-size: 10px;
  }
}

.section-1 {
  padding: 40px 0;
  position: relative;
}
.section-1 .base-h3-title {
  width: 820px;
  aspect-ratio: 820/283;
}
.section-1 .base-h3-title .pic-title {
  position: absolute;
  z-index: -1;
  -webkit-transform: translateX(-80px);
          transform: translateX(-80px);
}
.section-1 .base-h3-title .text {
  -webkit-transform: translateY(80px);
          transform: translateY(80px);
  text-shadow: 0 0 8px #ca4200, 0 0 8px #ca4200, 0 0 8px #ca4200, 0 0 8px #ca4200;
}
.section-1 .base-content {
  margin: -80px 0 0;
  border-color: #ca4200;
}
@media screen and (max-width: 1023px) {
  .section-1 {
    padding: 0 0 24px;
    margin-top: -40px;
  }
  .section-1 .base-h3-title .pic-title {
    -webkit-transform: translateX(-24px);
            transform: translateX(-24px);
  }
  .section-1 .base-h3-title .text {
    -webkit-transform: translateY(16px);
            transform: translateY(16px);
  }
  .section-1 .base-content {
    margin: -40px 0 0;
  }
}

.section-2 {
  padding: 40px 0;
  position: relative;
}
.section-2 .base-h3-title {
  width: 832px;
  aspect-ratio: 832/167;
}
.section-2 .base-h3-title .pic-title {
  -webkit-transform: translateX(-80px);
          transform: translateX(-80px);
}
.section-2 .base-h3-title .text {
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  text-shadow: 0 0 8px #20abd2, 0 0 8px #20abd2, 0 0 8px #20abd2, 0 0 8px #20abd2;
}
.section-2 .base-content {
  border-color: #20abd2;
}
.section-2 .base-content .title {
  --line-width: 344px;
}
.section-2 .base-content .title-2 {
  --line-width: 440px;
}
.section-2 .base-content .pic-chart-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section-2 .base-content .pic-chart {
  margin: 32px auto;
}
@media screen and (max-width: 1023px) {
  .section-2 {
    padding: 24px 0;
  }
  .section-2 .base-h3-title .pic-title {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
  .section-2 .base-h3-title .text {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.section-3 {
  padding: 40px 0;
}
.section-3 .base-h3-title {
  width: 680px;
  aspect-ratio: 680/188;
}
.section-3 .base-h3-title .text {
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  text-shadow: 0 0 8px #f2aa24, 0 0 8px #f2aa24, 0 0 8px #f2aa24, 0 0 8px #f2aa24;
}
.section-3 .base-content {
  border-color: #f2aa24;
}
.section-3 .base-content .title {
  --line-width: 556px;
}
.section-3 .base-content .pic-chart {
  margin: 24px auto 16px;
}
@media screen and (max-width: 1023px) {
  .section-3 {
    padding: 24px 0;
  }
  .section-3 .base-h3-title .text {
    -webkit-transform: translateY(16px);
            transform: translateY(16px);
  }
}

.section-4 {
  padding: 40px 0;
  position: relative;
}
.section-4 .base-h3-title {
  width: 744px;
  aspect-ratio: 744/176;
}
.section-4 .base-h3-title .pic-title {
  -webkit-transform: translateX(-64px);
          transform: translateX(-64px);
}
.section-4 .base-h3-title .text {
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  text-shadow: 0 0 8px #62c4e1, 0 0 8px #62c4e1, 0 0 8px #62c4e1, 0 0 8px #62c4e1;
}
.section-4 .base-content {
  border-color: #62c4e1;
}
.section-4 .base-content .title {
  --line-width: 496px;
}
.section-4 .base-content .title-2 {
  --line-width: 416px;
}
.section-4 .base-content .pic-chart {
  margin: 24px auto 16px;
}
.section-4 .base-content .pic-magnifier {
  position: absolute;
  top: 16px;
  right: 16px;
}
@media screen and (max-width: 1023px) {
  .section-4 {
    padding: 24px 0;
  }
  .section-4 .base-h3-title .pic-title {
    -webkit-transform: translateX(-24px);
            transform: translateX(-24px);
  }
  .section-4 .base-h3-title .text {
    -webkit-transform: translateY(16px);
            transform: translateY(16px);
  }
  .section-4 .base-content .pic-magnifier {
    display: none;
  }
}

.section-5 {
  padding: 40px 0;
}
.section-5 .base-content {
  border-color: #929292;
}
.section-5 .base-content .title {
  --line-width: 262px;
}
.section-5 .base-content .title-2 {
  --line-width: 192px;
}
.section-5 .base-content .pic-chart {
  margin: 24px auto 16px;
}
@media screen and (max-width: 1023px) {
  .section-5 {
    padding: 24px 0;
  }
}

.sidebar {
  position: fixed;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  bottom: 160px;
  right: 40px;
  z-index: 10;
}
.sidebar .sidebar-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-decoration: none;
  width: 64px;
  height: 64px;
  padding: 8px;
  font-size: 24px;
  color: #fff;
  background: #2943de;
  border-radius: 4px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.sidebar .sidebar-item:hover {
  opacity: 0.8;
}
@media screen and (max-width: 767px) {
  .sidebar {
    right: 16px;
  }
  .sidebar .sidebar-item {
    width: 48px;
    height: 48px;
    font-size: 14px;
  }
}

.footer {
  line-height: 1.3;
}
.footer em {
  font-style: normal;
  font-size: 14px;
}
@media screen and (max-width: 640px) {
  .footer em {
    font-size: 10px;
  }
}
.footer .strong-1 {
  color: #0c4696;
}
.footer .strong-2 {
  color: #fe5501;
}
.footer .copyright {
  font-size: 12px;
  text-align: center;
  padding: 24px;
  margin: 16px 0 0;
  color: #fff;
  background: #0295be;
  line-height: 1.5;
}
@media screen and (max-width: 1023px) {
  .footer {
    font-size: 12px;
  }
  .footer .copyright {
    padding: 16px 8px;
  }
}