@use "variables" as *;

[v-cloak] {
    opacity: 0;
    visibility: hidden;
}

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {
    font-family: "Noto Sans TC", "Microsoft JhengHei", Arial, Helvetica,
        sans-serif, monospace;
    background: #d5ebf8;
    overflow-x: hidden;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.4s ease;
}
.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}
.fade-enter-to,
.fade-leave-from {
    opacity: 1;
}

.base-wrapper {
    position: relative;
    width: 1024px;
    max-width: 100%;
    margin: auto;
    padding: 0 16px;
    text-align: justify;
    .link{
        margin-left: auto;
        @include maxWidth-md() {
            position: absolute;
            top: 540px;
            z-index: 1;
        }
        a{
            position: relative;
            margin: 0 1em;
            background: #0170c2;
            border-radius: 5px;
            color: #fff;
            text-decoration: none;
            padding:.55em .75em;
            display: inline-block;
            &:after{
                content: "";
                position: absolute;
                top: 3px;
                left: 3px;
                right: 3px;
                bottom: 3px;
                border: 1px solid #fff;
                border-radius: 5px;
            }
            &:hover{
                opacity: .7;
            }
            @include maxWidth-md() {
               margin: 0 .25em;
               font-size: 1.2em;
            }
        }
    }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.font-bold {
    font-weight: 700;
}

.text-sm {
    font-size: 12px;
}

.hidden-sm {
    @include maxWidth-md() {
        display: none;
    }
}
.hidden-md {
    display: none;
    @include maxWidth-md() {
        display: unset;
    }
}

.base-h3-title {
    position: relative;
    text-align: center;
    margin: auto;
    max-width: 100%;
    font-style: italic;
    .pic-title {
        position: absolute;
        z-index: -1;
    }
    .text {
        font-size: 54px;
        font-weight: 700;
        color: #fff;
        .strong {
            margin-left: 8px;
            font-size: 80px;
        }
    }
    @include maxWidth-md {
        .text {
            font-size: 24px;
            .strong {
                font-size: 48px;
            }
        }
    }
}

.base-content {
    padding: 16px;
    background-color: #fff;
    border: 16px solid;
    border-radius: 4px;
    position: relative;
    box-shadow: 8px 8px 32px #9dcfe6;
    .pic-bg-top {
        position: absolute;
        top: 0;
        right: -159px;
    }
    .pic-bg-bottom {
        position: absolute;
        left: -154px;
        bottom: 0;
    }
    .title {
        --line-width: 456px;
        position: relative;
        font-size: 36px;
        font-weight: 700;
        padding-left: 16px;
        color: #ca4200;
        position: relative;
        line-height: 1.2;
        &::before {
            content: "";
            position: absolute;
            bottom: -16px;
            left: -16px;
            background: #f16212;
            width: var(--line-width);
            height: 2px;
        }
        &::after {
            content: "";
            position: absolute;
            bottom: -16px;
            left: calc(var(--line-width) - 16px);
            background: #f16212;
            width: 56px;
            height: 2px;
            transform: rotate(-45deg);
            transform-origin: left;
        }
        .pic-star {
            position: absolute;
            left: -40px;
            top: 0;
            bottom: 0;
            margin: auto;
        }
        .strong {
            color: #034891;
        }
        @include maxWidth-md() {
            font-size: 30px;
        }
    }
    .title-2 {
        margin-top: 40px;
    }
    .desc {
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        margin-top: 40px;
        line-height:1.5;
        .strong {
            color: #034891;
        }
        .gray{
            color: #313131;
        }
        .comma{
            &::after{
                content: "ï¼Œ";
            }
        }
        @include maxWidth-sm() {
            .comma{
                &::after{
                content: "";
            }   
            }
            span{
                display: block;
            }
        }
    }
    .pic-chart {
        margin: auto;
    }
    .remark {
        font-size: 14px;
        margin: 16px 0;
        line-height: 1.2;
        .strong {
            color: #2b4d83;
        }
        .strong-2 {
            color: #34b0d2;
        }
    }

    @include maxWidth-md() {
        border: 8px solid;
        padding: 8px;
        .title {
            text-align: center;
            padding-left: 0;
            &::before {
                display: none;
            }
            &::after {
                display: none;
            }
            .pic-star {
                display: none;
            }
        }
        .desc {
            font-size: 16px;
            margin: 16px 0;
        }
    }
}

.header {
    background: #fff;
    .base-wrapper {
        display: flex;
        align-items: center;
        height: 56px;
    }
    .logo {
        width: 160px;
    }
    @include maxWidth-md {
        .base-wrapper {
            justify-content: center;
        }
    }
}

.main {
    .pic-main-bg-1,
    .pic-main-bg-2,
    .pic-main-bg-3,
    .pic-main-bg-4 {
        position: absolute;
    }
    .pic-main-bg-1 {
        top: 240px;
        left: 0;
    }
    .pic-main-bg-2 {
        bottom: -240px;
        right: 0;
    }
    .pic-main-bg-3 {
        bottom: -240px;
        left: 0;
    }
    .pic-main-bg-4 {
        top: 560px;
        right: 0;
    }

    @include maxWidth-xl() {
        .pic-main-bg-1,
        .pic-main-bg-2,
        .pic-main-bg-3,
        .pic-main-bg-4 {
            display: none;
        }
    }
}

.section-banner {
    position: relative;
    background-image: url("../images/01_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;

    .pic-people {
        position: absolute;
        top: 0;
        right: 40%;
    }
    .pic-date {
        position: absolute;
        top: 0px;
        left: calc(50% - -450px - 40px);
    }
    .text-main {
        width: fit-content;
        font-weight: 700;
        padding: 40px 0 0;
        margin: 0 0 60px 0;
        position: relative;
        left: 50%;
        transform: rotate(-5deg);
        font-style: italic;
        .title-main {
            font-size: clamp(
                28px,
                calc(28px + (36 - 24) * ((100dvw - 375px) / (1920 - 375))),
                36px
            );
            color: #0d3876;
            text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff;
        }
        .title-desc {
            font-size: clamp(
                28px,
                calc(28px + (36 - 24) * ((100dvw - 375px) / (1920 - 375))),
                36px
            );
            font-style: italic;
            color: #fff;
            margin: 8px 0 0 48px;
            text-shadow: 0 0 10px #0cb7e2, 0 0 10px #0cb7e2, 0 0 10px #0cb7e2, 0 0 10px #0cb7e2,
                0 0 10px #0cb7e2;
        }
        .title-fundcode {
            font-size: clamp(
                150px,
                calc(150px + (120 - 80) * ((100dvw - 375px) / (1920 - 375))),
                120px
            );
            font-style: italic;
            letter-spacing:-4px;
            font-weight: 900;
            line-height: 1;
            margin: 0 0 16px;
            color: #ed680b;
            text-shadow: 0 0 24px #fff, 0 0 24px #fff, 0 0 24px #fff,
                0 0 24px #fff;
                @include maxWidth-md() {
                    font-size: clamp(
                        90px,
                        calc(90px + (120 - 80) * ((100dvw - 375px) / (1920 - 375))),
                        120px
                    );
                }
        }
        .title-fundname {
            font-size: clamp(
                14px,
                calc(14px + (24 - 14) * ((100dvw - 375px) / (1920 - 375))),
                24px
            );
            font-style: italic;
            color: #fff;
            text-shadow: 0 0 4px #49378f, 0 0 4px #49378f, 0 0 4px #49378f,
                0 0 4px #49378f;
                @include maxWidth-md() {
                        font-size: .8em;
                        margin-top: 1em;
                    }
                span{
                    color: #ffc6c6;
                }
        }
    }

    .icon-bar {
        display: flex;
        justify-content: center;
        gap: 16px;
        margin: 0 4px 40px;
        .icon-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;
            width: 160px;
            text-decoration: none;
            .pic-icon {
                border-radius: 50%;
                box-shadow: 4px 4px 8px #49378f;
                width: 140px;
                @include maxWidth-md() {
                     width: 70px;
                }
            }
            .icon-text {
                font-size: clamp(
                    12px,
                    calc(9px + (30 - 13) * ((100dvw - 375px) / (1920 - 375))),
                    30px
                );
                margin-top: .5em;
                font-weight: 700;
                line-height: 1.5;
                text-align: center;
                color: #fff;
                text-shadow: 0 0 8px #49378f, 0 0 8px #49378f, 0 0 8px #49378f,
                    0 0 8px #49378f;
                .small {
                    font-size: 0.7em;
                }
                @include maxWidth-md() {
                    font-size: 14px;
                }
            }
            a{
                text-decoration: none;
            }
            a+&:a:hover{
                text-decoration: none;
            }
        }
    }

    .text-desc {
        font-size: clamp(
            20px,
            calc(20px + (36 - 20) * ((100dvw - 375px) / (1920 - 375))),
            36px
        );
        text-align: center;
        padding: 0 0 80px;
        .desc-1 {
            color: #fff;
            text-shadow: 0 0 8px #49378f, 0 0 8px #49378f, 0 0 8px #49378f,
                0 0 8px #49378f;
            font-weight: 600;
        }
        .desc-2 {
            color: #f8bc01;
            margin: 8px 0 0;
            text-shadow: 0 0 8px #49378f, 0 0 8px #49378f, 0 0 8px #49378f,
                0 0 8px #49378f;
            font-weight: 600;
            @include maxWidth-md() {
                span{
                    display: block;
                    line-height: 1.5;
                }
            }
        }
    }

    @include maxWidth-xl() {
        .pic-date {
            left: calc(50% - -420px - 80px);
        }
        .text-main {
            left: 45%;
        }
        .text-desc {
            padding: 0 0 120px;
        }
    }
    @include maxWidth-lg() {
        .pic-date {
            left: calc(50% - -420px - 96px);
        }
        .text-main {
            left: 40%;
        }
    }
    @include maxWidth-md() {
        .pic-date {
            top: 0px;
            left: unset;
            right: 4px;
            width: 64px;
        }
        .pic-people {
            left: unset;
            top: 0px;
            right: 160px;
            width: 400px;
        }
        .text-main {
            left: unset;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding-right: 24px;
            margin: 0 0 40px auto;
            .title-main {
                margin-right: 56px;
            }
            .title-desc {
            }
            .title-fundcode {
                margin: 0;
            }
        }
        .icon-bar {
            gap: 4px;
            .icon-item {
                text-decoration: none;
                .icon-text {
                    .small {
                        font-size: 10px;
                    }
                }
            }
        }
    }
}

.section-1 {
    padding: 40px 0;
    position: relative;
    .base-h3-title {
        width: 820px;
        aspect-ratio: 820 / 283;
        .pic-title {
            position: absolute;
            z-index: -1;
            transform: translateX(-80px);
        }
        .text {
            transform: translateY(80px);
            text-shadow: 0 0 8px #ca4200, 0 0 8px #ca4200, 0 0 8px #ca4200,
                0 0 8px #ca4200;
                    
        }
    }
    .base-content {
        margin: -80px 0 0;
        border-color: #ca4200;
    }
    @include maxWidth-lg() {
        padding: 0 0 24px;
        margin-top: -40px;
        .base-h3-title {
            .pic-title {
                transform: translateX(-24px);
            }
            .text {
                transform: translateY(16px);
            }
        }
        .base-content {
            margin: -40px 0 0;
        }
    }
}

.section-2 {
    padding: 40px 0;
    position: relative;
    .base-h3-title {
        width: 832px;
        aspect-ratio: 832 / 167;
        .pic-title {
            transform: translateX(-80px);
        }
        .text {
            transform: translateY(40px);
            text-shadow: 0 0 8px #20abd2, 0 0 8px #20abd2, 0 0 8px #20abd2,
                0 0 8px #20abd2;
        }
    }
    .base-content {
        border-color: #20abd2;
        .title {
            --line-width: 344px;
        }
        .title-2 {
            --line-width: 440px;
        }
        .pic-chart-wrapper {
            display: flex;
            justify-content: center;
        }
        .pic-chart {
            margin: 32px auto;
        }
    }
    @include maxWidth-lg() {
        padding: 24px 0;
        .base-h3-title {
            .pic-title {
                transform: translateX(-40px);
            }
            .text {
                transform: translateY(0);
            }
        }
        .base-content {
        }
    }
}

.section-3 {
    padding: 40px 0;
    .base-h3-title {
        width: 680px;
        aspect-ratio: 680 / 188;
        .text {
            transform: translateY(40px);
            text-shadow: 0 0 8px #f2aa24, 0 0 8px #f2aa24, 0 0 8px #f2aa24,
                0 0 8px #f2aa24;
        }
    }
    .base-content {
        border-color: #f2aa24;
        .title {
            --line-width: 556px;
        }
        .pic-chart {
            margin: 24px auto 16px;
        }
    }
    @include maxWidth-lg() {
        padding: 24px 0;
        .base-h3-title {
            .pic-title {
            }
            .text {
                transform: translateY(16px);
            }
        }
        .base-content {
        }
    }
}

.section-4 {
    padding: 40px 0;
    position: relative;
    .base-h3-title {
        width: 744px;
        aspect-ratio: 744 / 176;
        .pic-title {
            transform: translateX(-64px);
        }
        .text {
            transform: translateY(40px);
            text-shadow: 0 0 8px #62c4e1, 0 0 8px #62c4e1, 0 0 8px #62c4e1,
                0 0 8px #62c4e1;
        }
    }
    .base-content {
        border-color: #62c4e1;
        .title {
            --line-width: 496px;
        }
        .title-2 {
            --line-width: 416px;
        }
        .pic-chart {
            margin: 24px auto 16px;
        }
        .pic-magnifier {
            position: absolute;
            top: 16px;
            right: 16px;
        }
    }
    @include maxWidth-lg() {
        padding: 24px 0;
        .base-h3-title {
            .pic-title {
                transform: translateX(-24px);
            }
            .text {
                transform: translateY(16px);
            }
        }
        .base-content {
            .pic-magnifier {
                display: none;
            }
        }
    }
}

.section-5 {
    padding: 40px 0;
    .base-content {
        border-color: #929292;
        .title {
            --line-width: 262px;
        }
        .title-2 {
            --line-width: 192px;
        }
        .pic-chart {
            margin: 24px auto 16px;
        }
    }
    @include maxWidth-lg() {
        padding: 24px 0;
    }
}

.sidebar {
    position: fixed;
    display: flex;
    // display: none;
    flex-direction: column;
    gap: 16px;
    bottom: 160px;
    right: 40px;
    z-index: 10;
    .sidebar-item {
        display: flex;
        align-items: center;
        text-align: center;
        text-decoration: none;
        width: 64px;
        height: 64px;
        padding: 8px;
        font-size: 24px;
        color: #fff;
        background: #2943de;
        border-radius: 4px;
        transition: 0.4s;

        &:hover {
            opacity: 0.8;
        }
    }

    @include maxWidth-md() {
        right: 16px;
        .sidebar-item {
            width: 48px;
            height: 48px;
            font-size: 14px;
        }
    }
}

.footer {
    line-height: 1.3;
    em{
        font-style: normal;
        font-size: 14px;
        @include maxWidth-sm() {
            font-size: 10px;
        }
    }
    .strong-1 {
        color: #0c4696;
    }
    .strong-2 {
        color: #fe5501;
    }
    .copyright {
        font-size: 12px;
        text-align: center;
        padding: 24px;
        margin: 16px 0 0;
        color: #fff;
        background: #0295be;
        line-height: 1.5;
    }
    @include maxWidth-lg() {
        font-size: 12px;
        .copyright {
            padding: 16px 8px;
        }
    }
}
