@mixin maxWidth-xl() {
    @media screen and (max-width: 1279px) {
        @content;
    }
}
@mixin maxWidth-lg() {
    @media screen and (max-width: 1023px) {
        @content;
    }
}
@mixin maxWidth-md() {
    @media screen and (max-width: 767px) {
        @content;
    }
}
@mixin maxWidth-sm() {
    @media screen and (max-width: 640px) {
        @content;
    }
}
